body{
    height: 100%;
    background-color: burlywood;
}

h1 {
    text-align: center;
    border: 1px solid #333;
    background-color: bisque;
}

img {
    width: 100%;
}
.container {
    background: url(../img/carte4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.perso, .ennemi {
    width: 20%;
}

.chat {
    background-color: #dc813c47;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    border: 1px solid #333;
    height: 27vw;
    overflow: hidden;
    overflow-y: scroll;
}

/* div{
    border: 1px solid black;
} */

.border {
    border: 1px solid #333;
}

.persoTotalHealth, .ennemiTotalHealth {
    background-color: aliceblue;
    width: 100%;
    border-top: 1px solid #333;
}

.persoHealth, .ennemiHealth {
    background-color: red;
    height: 15px;
    width: 100%;
    padding : 0;
    margin: 0;
}

.persoTotalMana, .ennemiTotalMana {
    background-color: aliceblue;
    width: 100%;
    border-top: 1px solid #333;
}

.persoMana, .ennemiMana {
    background-color: rgb(0, 140, 255);
    height: 15px;
    width: 100%;
}

.attaque{
    width: 100%;
    margin-top: 5px;
    height: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#replay-modal-button, #next-modal-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#victory-modal {
    display: none;
}

.player{
    width: 60%;
    text-align: center;
    border: 1px solid #333;
    background-color: #D5C066;
    margin-left: 1em;
    border-radius: 10px;
    padding: 10px 0;
}

.computer{
    width: 60%;
    text-align: center;
    border: 1px solid #333;
    background-color: #d1cbb2;
    margin: auto 1em auto auto;
    border-radius: 10px;
    padding: 10px 0;
}

.base{
    width: 60%;
    text-align: center;
    border: 1px solid #333;
    background-color: #ca782c;
    margin: 1em auto auto auto;
    border-radius: 10px;
    padding: 10px 0;
}

#selected-difficulty {
    background-color: bisque;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    padding: 5px 50px;
    margin: 0 auto 20px;
    font-weight: bold;
}